*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  width:100%;
  height: 80px;
}
.uppersection{
  width: 100%;
  height:45px;
  background: #000;
}
.section1{
  float:left;
  width:300px;
  height: 45px;
}
.section2{
  float:left;
  width:calc(100% - 650px);
  height: 45px;
}
.section3{
  float:right;
  width: 350px;
  height:45px;
}
.lowersection{
  width: 100%;
  height:40px;
  background: #232f3e;
}
.logo{
  align-items: center;
  vertical-align: middle;
  width: 75px;
}
.pink1 {
  padding: 5px;
  float: left;
  width: 40%;
  height: 45px;
  text-align: center;
}

.pink2{
  float:left;
  width: 60%;
  height: 45px;
}

.nav-logo{
  font-size: 13px;
}
.student1{
  float: left;
  padding-left: 15px;
  width: 20%;
  height: 45px;
}
.gate{  
  font-size: 11px;
}
.student2{
  float:right;
  width: 80%;
  height: 45px;
}
.nav-left{
  float: left;
  width: 40px;
  height: 45px;
}

.all{
  background: #EAEDED;
  color: black;
  font-size: 11px;
  height: 35px;
  width: 40px;
  margin:5px 0;
  border: none;
}
.nav-center{
  width: calc(100% - 80px);
  float: left;
  height: 45px;
  padding:6px 0;
}
.nav-right{
  float: right;
  width: 40px;
}
input{
  width: 100%;
  padding: 7px;
  font-size: 17px;
  border: none;
  outline: none;
  color: #000;
}
.search{
  background: rgb(247,155,80);
  height: 35px;
  width: 40px;
  margin:5px 0;
  border: none;
}
.cube{
  align-items: center;
  vertical-align: middle;
  width:18px;
}
.hope{
  align-items:center;
  vertical-align:left;
  width:20%;
  float:right;
  margin:9px 0;
  text-align: center;
}
.red{
  float: left;
  width: 20%;
  height: 45px;
  padding: 8px;
  box-sizing: border-box;
}
.red:hover{
  border: 1px solid grey;
}

.sony{
  width: 27px;
}
.red1{
  float: left;
  width: 35%;
  height: 45px;
  padding-top: 5px;
  box-sizing: border-box;
}
.red1:hover{
  border: 1px solid grey;
}

.red2{
  float:left;
  width:24%;
  height: 45px;
  padding-top: 5px;
  text-align: center;
}
.red2:hover{
  border: 1px solid grey;
}

.red3{
  float:right;
  width:20%;
  height: 45px;
  padding-top: 8px;
}
.red3:hover{
  border: 1px solid grey;
}
.logo20{
  width: 100%;
}
.zippy{
  float: left;
  width: 70%;
  height: 35px;
  padding: 10px;
}
.pinky{
  font-size: 14px;
  width: 100%;
  height: 40px;
}
ul li{
  float: left;
    list-style: none;
    font-weight: 500;
    font-size: 12px;
    margin: 2px 8px;
}
.pinky li:hover{
  border:1px solid white;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0,0.8);
  transition: 0.5s;
  overflow-x:hidden;
}

.sidebar a {
  text-decoration: none;
  font-size: 12px;
  color: black;
  display: block;
  transition: 0.3s;
}
.jaggu{
  text-decoration: none;
  font-size: 12px;
  color: black;
  display: block;
  transition: 0.3s;
  height: 780px;
}

.sidebar a:hover {
  color:rgb(247,155,80);
}

.sidebar .closebtn {
  position: relative;
  font-size: 40px;
  color: #bdbdbd;;
  top:0px;
  left:390px;

}
.ryt{
  width: auto;
  float:left;
  padding:5px;
}
.ryt1{
  color:white;
  float:left;
  padding:10px;
}
.simple{
  position: absolute;
  width: 25%;
  color:white;
  background-color:#232f3e;
  top:0;
  font-size: 17px;
  font-weight: bold;
  height: 45px;
  text-align: center;
}
.simple1{
  top:0;
  width: 25%;
  background-color:white;
  height: 120px;
  text-align: left;
  border-bottom: 1px solid silver;
  padding:10px;
}
.simple2{
  top:0;
  width: 25%;
  background-color:white;
  height: 219px;
  text-align: left;
  border-bottom: 1px solid silver;
  padding:10px;
}
.simple3{
  top:0;
  width: 25%;
  background-color:white;
  height: 180px;
  text-align: left;
  border-bottom: 1px solid silver;
  padding:10px;
}
.simple4{
  top:0;
  width: 25%;
  background-color:white;
  height: 140px;
  text-align: left;
  border-bottom: 1px solid silver;
  padding:10px;
}

.simple5{
  top:0;
  width: 25%;
  background-color:white;
  height: 127px;
  text-align: left;
  border-bottom: 1px solid silver;
  padding:10px;
}
.tread{
  font-size: 17px;
  color:black;
  margin-left: 21px;
}
.small{
  color:rgb(44, 43, 43);
  font-size: 14px;
  margin-top: 9px;
  margin-left: 21px;
}
.green1{
  float:left;
  width:4%;
  text-align: center;
  margin:5px 0px;
  box-sizing: border-box;
}

.green2{
  float:left;
  width:11%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green3{
  float:left;
  width:10%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green4{
  float:left;
  width:12%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green5{
  float:left;
  width:15%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green6{
  float:left;
  width:11%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green7{
  float:left;
  width:11%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green8{
  float:left;
  width:10%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green9{
  float:left;
  width:13%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.Rinky{
  float:right;
  font-size: 25%;
  width: 30%;
}
.gun{
  align-items: center;
  vertical-align: right;
  width:400px;
  float:right;
  box-sizing: border-box;
}

.line{
  align-items: center;
  width:10px;
  float:left;
  text-align: center;
}
.centerpage{
  width:100%;
  height: 1080px;
}
.cup{
  width: 100%;
  position: relative;
  z-index: -1;
}

.monkey1{
  width: 20%;
    float: left;
    height: 65px;
    text-align: center;
}
.monkey2{
  width: 80%;
  height: 55px;
  padding: 15px 10px;
}
.skill1{
  height: 55px;
  width: 100%;
  margin: 10px 0;
}
.strong1{
    width: 100%;
    height: 350px;
    background: white;
}
.silk11{
  width: 100%;
  height: 65px;
}

.silk2{
  height: 240px;
  width: 100%;
  padding:10px;
}
.paper1{
  padding: 10px;
  float: left;
  width: 50%;
  height: 120px;
  text-align: center;
}
.paper2{
  float: right;
  width: 50%;
  height: 120px;
  text-align: center;
  padding: 10px;
}
.it{
  width: auto;
  max-height: 80px;
}
.professer{
  color: black;
  display: block;
  font-size: 14px;
}
.silk3{
  width: 100%;
  height: 35px;
}
.amigo{
  color: #007185;
  padding:10px;
}
.school1{
  width:90px;
  height:85px;
}
.school2{
  width:90px;
  height:80px;
}
.fony{
  width: 28px;
  float: left;
  padding:5px;
}
.nav1icon{
    top: 40px;
    left: 330px;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top:4px solid #666;
}
.dropbtn1{
  padding:4px;
  font-size: 10px;
  border: none;
  background-color: black;
}
.dropbtn {
  padding:6px;
  font-size: 10px;
  border: none;
  background-color: black;
}
.dropbtn2 {
  padding:4px;
  font-size: 10px;
  border: none;
  background-color:#232f3e ;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.grey{
  font-size: 13px;
  color:rgb(24, 23, 23);
  float: center;
  padding:9px;
}
.gp{
  width: 100%;
  height: 11px;
  padding: 8px;
}
.grey1{
  font-size: 11px;
  color:rgb(24, 23, 23);
  width: 50%;
  float: left;
  text-align: right;
}
.mortine{
  display:none;
  position: absolute;
  background-color: white;
  z-index:1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 160px;
}
.lines{
  border-top: 1px solid silver;
  width: 100%;
  height: 6px;
}
.anext{
  float:right;
  color: black;
  font-weight: bold;
  font-size: 15px;
  
}
.dropdown:hover .mortine {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 510px;
  color:black;
}
.dropdown-content , label{
 font-size: 13px ;
 color: black;
 padding:6px;
}

.lang{
  width: 50px;
  display: block;
}

.dropdown-content input {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 16%;
  float: left;
  border-bottom: 1px solid silver;
}
.dropdown-content a{
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
  height: 22px;
  margin-top:2px;
}
.dropdown-content a:hover {
  background-color: #ccc;

}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdowns-content{
  background-color: white;
  display: none;
  width: 380px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -320px;
  position:absolute;
  height: auto;
}
.dropdown:hover .dropdowns-content {
  display: block;
}
.dropdowns-content a:hover {
  background-color: #ccc;

}
.block{
  color: black;
  text-decoration: none;
  background-color:white;
  padding: 13px;
  text-align: center;
  width: 100%;
  height:75px;
  border-bottom: 1px solid silver;
}
.delo{
  color:#007185;
  font-size: 11px;
  width: 50%;
  float: left;
  text-align: left;
}
.rod{
  color: black;
  text-decoration: none;
  background-color: white;
  position:absolute;
  padding: 10px;
  width: 100%;
}

.colo1{
  color: black;
  width: 50%;
  float: left;
  padding:10px;
  text-align: left;
}
.colo1:hover{
  color: rgb(247,155,80);
}
.colo2{
  color: black;
  width: 50%;
  float: right;
  padding:10px;
  text-align: left;
  border-left: 1px solid silver;
}
.blob{
  color:rgb(24, 23, 23);
  font-size: 12px;

}
.dugu{
  color: #000;
  font-size: 16px;
}
.openbtn {
  cursor: pointer;
  background-color:#232f3e;
  color: white;
  border:none;
}
.openbtn:hover{
  border: 1px solid white;
}

.skill3{
  box-sizing: border-box;
  text-align: center;
  float:left;
  text-decoration-color: #007185;
}
.slideshow{
  width: 100%;
  position: relative;
  height: 250px;
}
.gogo{
    text-align: center;
    width: 200px;
    border-radius: 2px;
    background:rgb(245, 160, 90);
    padding:8px;
    color:black;
}
.slide{
  position: relative;
  width: 100%;
  display:none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.star2{
  width: 100%;
  height: 380px;
  clear:both;
}
.str1{
  width: 100%;
    height: 120px;
}
.str2{
  width: 100%;
  height: 120px;
}
.skill2:hover{
  border: 1px solid black;
}
.greek{
  float:left;
  margin:2px 2px;
}
.strong2{
    width: 100%;
    height: 350px;
    background: white;

}

h3{
  color:black;
}
.rty{
  width: 70%;
  height: auto;
}
.address{
  font-size: 12px;
}
.gate1{
  font-size: 15px;
  color: black;
  font-weight: bold;
}
.strong3{
    width: 100%;
    height: 350px;
    background: white;
}
.strong4{
  width: 100%;
  height: 350px;
  background: white;
}
.strong5{
  width: 50%;
  float: left;
}
.devi{
  width: 100%;
  height: 310px;
  background-image:url(../pic/devi.webp);
  background-size: cover;
}
.star3{
  background: #EAEDED;
  width: 100%;
  height: 450px;
}
.strong7{
  background-color: white;
  width: 100%;
  height: 350px;
  float: left;
}
.silk1{
  padding:15px;
  width: 100%;
  height:45px;
}
.strong6{
  width: auto;
  height: 350px;
  float:left;
  background-color: white;
}
.qwe{
  width: 100%;
  max-height:220px;
}
.monkey21{
  width: 100%;
  height: 55px;
  padding: 15px 10px;
}
.footer a {
  color: #fff;
}

.footer .top {
  background: #37475a;
  text-align:center;
  padding:10px 0px;
}

.footer .top a {
  
  text-decoration: none;
}

.footer .top a:hover {
  color: #fff;
  text-decoration: none;
}
.middle{
  background: #232f3e;
  width: auto;
  height: 270px;
}
.last{
  background: #131a22;
  width: auto;
  height: 150px;
}
.four1{
  width: 25%;
  color:white;
  box-sizing: border-box;
  float:left;
  padding:10px;
}
.four2{
  width: 25%;
  color:white;
  box-sizing: border-box;
  float:left;
  text-align:left;
  padding:10px;
}
.four3{
  width: 25%;
  color:white;
  box-sizing: border-box;
  float:left;
  text-align:left;
  padding:10px;
}
.four4{
  width: 25%;
  color:white;
  box-sizing: border-box;
  float:right;
  text-align:left;
  padding:10px;
}
.rtc1{
  width: 50%;
  height: 90px;
  color:white;
  margin:0px auto;
  padding:10px;
}
.rtc2{
  width: 50%;
  font-size:12px;
  color:white;
  text-align:center;
  margin:0px auto;
  padding:10px;
}
.center{
  background: #232f3e;
  width: 60%;
  height: 200px;
  color: white;
  margin: 0px auto;
  padding: 15px;
}
.dop1{
  width: 25%;
  color:white;
  box-sizing: border-box;
  float:left;
  padding:10px;
}
.dop2{
  width: 25%;
  color:white;
  padding:10px;
  box-sizing: border-box;
  text-align: left;
  float:left;
}
.dop3{
  width: 25%;
  color:white;
  float:left;
  box-sizing: border-box;
  text-align: left;
  padding:10px;
}
.dop4{
  
  width: 25%;
  color:white;
  box-sizing: border-box;
  text-align: left;
 float:right;
 padding:10px;
}
.and{
  color: white;
}
.rita{
  color: white;
  font-size: 15px;
}
.nita{
  color:white;
  font-size:10px;
}
.fft{
  width: 25%;
  height: 350px;
  float:left;
  padding:10px;
}
.asa{
  width:25%;
  height:350px;
  float:left;
  padding:10px;
}
.main{
  width: 100%;
  height: 600px;
}
.pro1{
  width: 40%;
  height: 70px;
  box-sizing: border-box;
  margin:0 auto;
}
.unity{
  width: auto;
  height: 60px;
  border:1px solid black;
  box-sizing: border-box;
}
.lpu1{
  width: 9%;
  height: 410px;
  float:left;
}
.pro2{
  width: 40%;
  height: 70px;
  box-sizing:border-box;
}
.right{
  background-image: url(../pic/pro.jpg);
  width: 100%;
  height: 60px;
  margin:8px 8px;
  border:1px solid black;
  box-sizing: border-box;
}
.pro3{
  width: 40%;
  height: 70px;
  box-sizing:border-box;
}
.jaffery{
  width: auto;
  height: 60px;
  border:1px solid black;
  box-sizing: border-box;
}
.pro4{
  width: 40%;
  height: 70px;
}
.pro5{
  width:40%;
  height: 70px;
}
.jaffery1{
  width: auto;
  height: 60px;
  border:1px solid black;
  box-sizing: border-box;
}
.jaffery2{
  width: auto;
  height: 60px;
  border:1px solid black;
  box-sizing: border-box;
}
.jaffery3{
  width: auto;
  height: 60px;
  border:1px solid black;
  box-sizing: border-box;
}
.pro6{
  width: 40%;
  height: 70px;
}
.lpu2{
  width:27%;
  height:500px;
  float:left;
}
.sink{
  width: auto;
  max-height: 340px;
  margin:5px 0;
}
.dht{
  width:100%;
  height: 600px;
}
.stock{
  color: black;
  font-size: 16px;
}
.jelly{
  color:black;
  font-size:14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.jhota1{
  width: 100%;
  height: 60px;
}
.rani{
  color: black;
  font-size: 19px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 30px;
}
.lpu3{
  width:41%;
  height:500px;
  float:left;
}
.kit1{
  width: 100%;
  height: 76px;
  border-bottom: 1px solid grey;
}
.rani1{
  color:#007185;
  font-size: 13px;
  height:20px;
}
.color{
  color: #007185;
  font-size: 13px;
}
.kit2{
  width:100%;
  height: 90px;
  border-bottom: 1px solid grey;
}
.kajol{
  width: 100%;
  height: 44px;
}
.debob{
  font-size:11px;
  color:#007185;
  text-align: center;
  padding:5px;
}
.debob:hover{
color:rgb(247, 147, 80);
}

.debo{
  font-size:13px;
  color:#007185;
}
.ritu1{
  width: 15%;
  height: 85px;
  float: left;
  text-align:center;
}
.ritu2{
  width: 20%;
  height: 85px;
  float:left;
  padding:0px 37px;
}
.kajol1{
  width: auto;
  height: 44px;
  margin-top:4px;
}
.kit3{
  width: 100%;
  height: 280px;
  margin-top: 6px;
}
.hat{
  color: brown;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align:left;
  font-size: 14px;
  height: 20px;
}
.gip{
  color: brown;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align:center;
}
.kajol3{
  width: 90%;
  height: 150px;
}
.kit4{
  width: 100%;
  height: 120px;
}
.kichu1{
  width: 17%;
  height: 60px;
  float:left;
  margin-top: 4px;
}
.xcblue{
  width:auto;
  max-height: 55px;
}
.kichu2{
  color:#007185;
  font-size: 13px;
  margin:0 2px;
  margin-top: 4px;
}
.dobi{
  color:grey;
  float:left;
}
.fit1{
  width: 25%;
  text-align:right;
  float:left;
}
.fit2{
  width: 25%;
  float:left;
}
.fit3{
  width: 25%;
  float:left;
}
.fit4{
  width: 25%;
  float:left;
}
.lpu4{
  width: 20%;
  height:210px;
  float:right;
  
}
.unav1{
  width: 100%;
  height: 28px;
  padding:0px 50px;
}
.dobi1{
  max-width:100%;
  max-height: 27px;
  
}
.unav2{
  width: 100%;
  height: auto;
  border:1px solid silver;
  text-align:center;
}
.vibe1{
  text-align: center;
}
.vibe2{
  text-align: center;
}
.loco{
  width:15%;
  float:left;
}
.opt{
  width:auto;
  height:35px;
  float:left;
}
.loco1{
  float:left;
  width: 80%;
}
.kitu{
  color:#007185;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.vibe3{
  width: 95%;
  height: 35px;
  text-align: center;
}
.unav3{
  text-align: center;
}
.dipa{
  color:black;
  font-size: 13px;
  list-style-type: disc;
  margin-top: 6px;
}
.php{
  width: auto;
  height: 270px;
  float: left;
}
.trans{
  width: auto;
  max-height: 120px;
}
.dot{
  color:brown;
  font-size: 12px;
  float:left;
}
.dazy1{
  width: 20%;
  height: 300px;
  float:left;
}
.global2{
  width: 70%;
  height: 50px;
  margin:1px 10px;

}
.dazy2{
  width: 20%;
  height:300px;
  float:left;
}
.lop{
  width: auto;
  height: 120px;
}
.hand{
  width: auto;
  
}
.dazy3{
  width: 20%;
  height: 300px;
  float:left;
}
.jeans{
  width:auto;
  max-height: 120px;
}
.dazy4{
  width: 20%;
  height: 300px;
  float:left;
}
.grid{
  width: 100%;
  height: 800px;
  float: left;
  background-color:white;
}
.grid-container{
  height: 490px;
  float: left;
  background-color:white;
  display: grid;
  grid-template-columns: 190px 230px 250px 250px 270px ;
}
.grid-item {
  background-color:#EAEDED;
  border:1px solid silver;
  font-size: 13px;
  text-align: center;
  color:black;
  width: 98%;
}
.product-page{
  width: 100%;
  height: 1600px;
}
.janrat{
  width: 100%;
  color:black;
  text-align: center;
  border-bottom: 1px solid gray;
}
.fab{
  width:80px;
  height: 16px;
}
.rani2{
  color: #007185;
  font-size: 13px;
}

.fab2{
 width: auto;
 height: 14px;
 float:left;
}
.gip2{
  color:#007185 ;
  font-size: 13px;
  width:50%;
  float:left;
}
.hta{
  font-size:13px;
  text-align: center;
  color:grey;
}
.jangat1{
  width: 100%;
  height: 360px;
  margin:17px 0;
}
.jaddu{
  width: auto;
  height: 14px;
  float:left;
}
.kalu{
  width: 100%;
  height: 100px;
  text-align: center;
}
.brand{
  padding: 10px;
  text-align: left;
  width: 210px;
  border-radius: 2px;
  background:#848688;
  margin-top: 15px;
}
.unav4{
  width: 100%;
  text-align: center;
}
.dazy0{
  width: 20%;
  height: 300px;
  float:left
}
.gonda{
  padding: 10px;
    text-align: center;
    width: 210px;
    border-radius: 2px;
    background:rgb(247,155,80);
    margin-top: 15px;
}
.mango{
  width: 40px;
  float:left;
  text-align: center;
}
table, tr,td{
  background-color:#EAEDED;
  color:black; 
  padding-left: 7px;
  padding-right: 7px;
}
.rubbi{
  width: auto;
  text-align: center;
  color:black;
  margin-top:5px;
}
td{
  width: 20%;
   height: 40px;
   border: 1px solid silver;
}
table{
  width: 100%;
  height: 40px;
}
table,tr{
  height: 49px;
  
}
.mojo{
  width: 10%;
  float:left;
}
.date{
  color:gray;
  font-size:12px;
  float: left;
}
.majo{
  width: 40px;
  text-align: center;
  float:left;
}
.life{
  width: 40px;
  height:20px ;
  float:left;
}


.center1{
  border-top: 1px solid #3a4555;
  width: 100%;
  
}
.siya{
  height:40px;
  width: 50%;
  margin:0px auto;
}
.siy2{
  width: 50%;
  float:right;
  padding:10px;
}

.siy1{
  width: 50%;
  padding: 10px ;
  color: #ccc;
  text-align:right;
  float:left;
}
.flag{
  width: auto;
  height: 27px;
  padding: 2px 2px 2px 2px;
  color: #ccc;
  border-radius: 4px;
  text-align:center;
  float:left;
}
