*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  width:100%;
  height: 80px;
}
.uppersection{
  width: 100%;
  height:45px;
  background: #000;
}
.section1{
  float:left;
  width:300px;
  height: 45px;
}
.section2{
  float:left;
  width:calc(100% - 650px);
  height: 45px;
}
.section3{
  float:right;
  width: 350px;
  height:45px;
}
.lowersection{
  width: 100%;
  height:35px;
  background: #232f3e;
}
.logo{
  align-items: center;
  vertical-align: middle;
  width: 75px;
}
.pink1 {
  padding: 5px;
  float: left;
  width: 40%;
  height: 45px;
  text-align: center;
}

.pink2{
  float:left;
  width: 60%;
  height: 45px;
}

.nav-logo{
  font-size: 13px;
}
.student1{
  float: left;
  padding-left: 15px;
  width: 20%;
  height: 45px;
}
.gate{  
  font-size: 11px;
}
.student2{
  float:right;
  width: 80%;
  height: 45px;
}
.nav-left{
  float: left;
  width: 40px;
  height: 45px;
}

.all{
  background: #dadada;
  color: black;
  font-size: 11px;
}
.nav-center{
  width: calc(100% - 80px);
  float: left;
  height: 45px;
  padding:6px 0;
}
.nav-right{
  float: right;
  width: 40px;
}
input{
  width: 100%;
  padding: 7px;
  font-size: 17px;
  border: none;
  outline: none;
  color: #000;
}
button{
  background: rgb(247,155,80);
  height: 35px;
  width: 40px;
  margin:5px 0;
  border: none;
}
.cube{
  align-items: center;
  vertical-align: middle;
  width:18px;
}
.hope{
  align-items:center;
  vertical-align:left;
  width:20%;
  float:right;
  margin:9px 0;
  text-align: center;
}
.red{
  float: left;
  width: 20%;
  height: 45px;
  padding: 10px;
}

.sony{
  width: 30px;
}
.red1{
  float: left;
  width: 30%;
  height: 45px;
  padding-top: 5px;
}

.red2{
  float:left;
  width:30%;
  height: 45px;
  padding-top: 5px;
  text-align: center;
}

.red3{
  float:right;
  width:20%;
  height: 45px;
  padding-top: 8px;
}
.logo20{
  width: 100%;
}
.zippy{
  float: left;
  width: 70%;
  height: 35px;
  padding: 10px;
}
.pinky{
  font-size: 14px;
  width: 100%;
  height: 35px;
}
ul li{
  float: left;
    list-style: none;
    font-weight: 500;
    font-size: 12px;
    margin: 2px 8px;
}
.green1{
  float:left;
  width:4%;
  text-align: center;
  margin:5px 0px;
  box-sizing: border-box;
}

.green2{
  float:left;
  width:11%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green3{
  float:left;
  width:10%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green4{
  float:left;
  width:12%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green5{
  float:left;
  width:15%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green6{
  float:left;
  width:11%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green7{
  float:left;
  width:11%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green8{
  float:left;
  width:10%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.green9{
  float:left;
  width:13%;
  margin:5px 0px;
  text-align: center;
  box-sizing: border-box;
}

.Rinky{
  float:right;
  font-size: 25%;
  width: 30%;
}
.gun{
  align-items: center;
  vertical-align: right;
  width:400px;
  float:right;
  box-sizing: border-box;
}

.line{
  align-items: center;
  width:10px;
  float:left;
  text-align: center;
}
.centerpage{
  width:100%;
  height: 1080px;
}
.cup{
  z-index: -1;
  position: relative;
  width: 100%;
}
.monkey1{
  width: 20%;
    float: left;
    height: 65px;
    text-align: center;
}
.monkey2{
  width: 80%;
  height: 55px;
  padding: 15px 10px;
}
.skill1{
  height: 55px;
  width: 100%;
  margin: 10px 0;
}
.strong1{
    width: 100%;
    height: 350px;
    background: white;
}
.silk11{
  width: 100%;
  height: 65px;
}

.silk2{
  height: 240px;
  width: 100%;
  padding:10px;
}
.paper1{
  padding: 10px;
  float: left;
  width: 50%;
  height: 120px;
  text-align: center;
}
.paper2{
  float: right;
  width: 50%;
  height: 120px;
  text-align: center;
  padding: 10px;
}
.it{
  width: auto;
  max-height: 80px;
}
.professer{
  color: black;
  display: block;
  font-size: 14px;
}
.silk3{
  width: 100%;
  height: 35px;
}
.amigo{
  color: blue;
  padding:10px;
}
.school1{
  width:90px;
  height:85px;
}
.school2{
  width:90px;
  height:80px;
}
.skill3{
  box-sizing: border-box;
  text-align: center;
  float:left;
  text-decoration-color: blue;
}
.star1{
  width: 100%;
  height: 300px;
}
.star2{
  width: 100%;
  height: 380px;
  clear:both;
}
.str1{
  width: 100%;
    height: 120px;
}
.str2{
  width: 100%;
  height: 120px;
}
.skill2:hover{
  border: 1px solid black;
}
.greek{
  float:left;
  margin:2px 2px;
}
.strong2{
    width: 100%;
    height: 350px;
    background: white;

}

h3{
  color:black;
}
.rty{
  width: 70%;
  height: auto;
}
.address{
  font-size: 12px;
}
.gate1{
  font-size: 15px;
  color: black;
  font-weight: bold;
}
.strong3{
    width: 100%;
    height: 350px;
    background: white;
}
.strong4{
  width: 100%;
  height: 350px;
  background: white;
}
.strong5{
  width: 50%;
  float: left;
}
.devi{
  width: 100%;
  height: 310px;
  background-image:url(../pic/devi.webp);
  background-size: cover;
}
.star3{
  background: #EAEDED;
  width: 100%;
  height: 450px;
}
.strong7{
  background-color: white;
  width: 100%;
  height: 350px;
  float: left;
}
.silk1{
  padding:15px;
  width: 100%;
  height:45px;
}
.strong6{
  width: auto;
  height: 350px;
  float:left;
  background-color: white;
}
.qwe{
  width: 100%;
  max-height:220px;
}
.monkey21{
  width: 100%;
  height: 55px;
  padding: 15px 10px;
}
.footer a {
  color: #fff;
}

.footer .top {
  background: #37475a;
  text-align:center;
  padding:10px 0px;
}

.footer .top a {
  
  text-decoration: none;
}

.footer .top a:hover {
  color: #fff;
  text-decoration: none;
}
.middle{
  background: #232f3e;
  width: auto;
  height: 270px;
}
.last{
  background: #131a22;
  width: auto;
  height: 150px;
}
.four1{
  width: 25%;
  color:white;
  box-sizing: border-box;
  float:left;
  padding:10px;
}
.four2{
  width: 25%;
  color:white;
  box-sizing: border-box;
  float:left;
  text-align:left;
  padding:10px;
}
.four3{
  width: 25%;
  color:white;
  box-sizing: border-box;
  float:left;
  text-align:left;
  padding:10px;
}
.four4{
  width: 25%;
  color:white;
  box-sizing: border-box;
  float:right;
  text-align:left;
  padding:10px;
}
.rtc1{
  width: 50%;
  height: 90px;
  color:white;
  margin:0px auto;
  padding:10px;
}
.rtc2{
  width: 50%;
  font-size:12px;
  color:white;
  text-align:center;
  margin:0px auto;
  padding:10px;
}
.center{
  background: #232f3e;
  width: 60%;
  height: 200px;
  color: white;
  margin: 0px auto;
  padding: 15px;
}
.dop1{
  width: 25%;
  color:white;
  box-sizing: border-box;
  float:left;
  padding:10px;
}
.dop2{
  width: 25%;
  color:white;
  padding:10px;
  box-sizing: border-box;
  text-align: left;
  float:left;
}
.dop3{
  width: 25%;
  color:white;
  float:left;
  box-sizing: border-box;
  text-align: left;
  padding:10px;
}
.dop4{
  
  width: 25%;
  color:white;
  box-sizing: border-box;
  text-align: left;
 float:right;
 padding:10px;
}
.and{
  color: white;
}
.rita{
  color: white;
  font-size: 15px;
}
.nita{
  color:white;
  font-size:10px;
}
.fft{
  width: 25%;
  height: 350px;
  float:left;
  padding:10px;
}
.asa{
  width:25%;
  height:350px;
  float:left;
  padding:10px;
}
.main{
  width: 100%;
  height: 600px;
}
.pro1{
  width: 40%;
  height: 70px;
  box-sizing: border-box;
  margin:0 38px;
}
.unity{
  width: auto;
  height: 60px;
  border:1px solid black;
  box-sizing: border-box;
}
.lpu1{
  width: 9%;
  height: 410px;
  float:left;
}
.pro2{
  width: 40%;
  height: 70px;
  box-sizing:border-box;
}
.right{
  background-image: url(../pic/pro.jpg);
  width: 100%;
  height: 60px;
  margin:8px 8px;
  border:1px solid black;
  box-sizing: border-box;
}
.pro3{
  width: 40%;
  height: 70px;
  box-sizing:border-box;
}
.jaffery{
  width: auto;
  height: 60px;
  border:1px solid black;
  box-sizing: border-box;
}
.pro4{
  width: 40%;
  height: 70px;
}
.pro5{
  width:40%;
  height: 70px;
}
.jaffery1{
  width: auto;
  height: 60px;
  border:1px solid black;
  box-sizing: border-box;
}
.jaffery2{
  width: auto;
  height: 60px;
  border:1px solid black;
  box-sizing: border-box;
}
.jaffery3{
  width: auto;
  height: 60px;
  border:1px solid black;
  box-sizing: border-box;
}
.pro6{
  width: 40%;
  height: 70px;
}
.lpu2{
  width:27%;
  height:500px;
  float:left;
}
.sink{
  width: auto;
  max-height: 340px;
  margin:5px 0;
}
.dht{
  width:100%;
  height: 600px;
}
.stock{
  color: black;
  font-size: 16px;
}
.jelly{
  color:black;
  font-size:14px;
  font-weight: bold;
}
.rani{
  color: black;
  font-size: 19px;
}
.lpu3{
  width:41%;
  height:500px;
  float:left;
}
.kit1{
  width: 100%;
  height: 76px;
  border-bottom: 1px solid grey;
}
.rani1{
  color: blue;
  font-size: 13px;
}
.kit2{
  width:100%;
  height: 90px;
  border-bottom: 1px solid grey;
}
.kajol{
  width: 100%;
  height: 44px;
}

.debo{
  font-size:13px;
  color:rgb(0, 0, 255);
}
.ritu1{
  width: 15%;
  height: 85px;
  float: left;
  text-align:center;
}
.ritu2{
  width: 20%;
  height: 85px;
  float:left;
  padding:0px 37px;
}
.kajol1{
  width: auto;
  height: 44px;
  margin-top:4px;
}
.kit3{
  width: 100%;
  height: 280px;
  margin-top: 6px;
}
.hat{
  color: brown;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align:left;
}
.gip{
  color: brown;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align:center;
}
.kajol3{
  width: 90%;
  height: 150px;
}
.kit4{
  width: 100%;
  height: 120px;
}
.kichu1{
  width: 17%;
  height: 60px;
  float:left;
  margin-top: 4px;
}
.xcblue{
  width: auto;
  max-height: 55px;
}
.kichu2{
  color:blue;
  font-size: 13px;
  margin:0 4px;
  margin-top: 4px;
}
.dobi{
  color:grey;
  float:left;
}
.fit1{
  width: 25%;
  text-align:right;
  float:left;
}
.fit2{
  width: 25%;
  float:left;
}
.fit3{
  width: 25%;
  float:left;
}
.fit4{
  width: 25%;
  float:left;
}
.lpu4{
  width: 20%;
  height:210px;
  float:right;
  
}
.unav1{
  width: 100%;
  height: 28px;
  padding:0px 50px;
}
.dobi1{
  max-width:100%;
  max-height: 27px;
  
}
.unav2{
  width: 100%;
  height: auto;
  border:1px solid silver;
  text-align:center;
}
.vibe1{
  text-align: center;
}
.vibe2{
  text-align: center;
}
.loco{
  width:15%;
  float:left;
}
.opt{
  width:auto;
  height:35px;
  float:left;
}
.loco1{
  float:left;
  width: 80%;
}
.kitu{
  color:blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.vibe3{
  width: 95%;
  height: 35px;
  text-align: center;
}
.unav3{
  text-align: center;
}
.dipa{
  color:black;
  font-size: 13px;
  list-style-type: disc;
  margin-top: 6px;
}
.php{
  width: auto;
  height: 270px;
  float: left;
}
.trans{
  width: auto;
  max-height: 120px;
}
.dot{
  color:brown;
  font-size: 12px;
  float:left;
}
.dazy1{
  width: 20%;
  height: 300px;
  float:left;
}
.global2{
  width: 70%;
  height: 50px;
  margin:1px 10px;

}
.dazy2{
  width: 20%;
  height:300px;
  float:left;
}
.lop{
  width: auto;
  height: 120px;
}
.hand{
  width: auto;
  
}
.dazy3{
  width: 20%;
  height: 300px;
  float:left;
}
.jeans{
  width:auto;
  max-height: 120px;
}
.dazy4{
  width: 20%;
  height: 300px;
  float:left;
}
.grid{
  width: 100%;
  height: 800px;
  float: left;
  background-color:white;
}
.grid-container{
  height: 490px;
  float: left;
  background-color:white;
  display: grid;
  grid-template-columns: 190px 230px 250px 250px 270px ;
}
.grid-item {
  background-color:#EAEDED;
  border:1px solid silver;
  font-size: 13px;
  text-align: center;
  color:black;
  width: 98%;
}
.product-page{
  width: 100%;
  height: 1600px;
}
.janrat{
  width: 100%;
  color:black;
  text-align: center;
  border-bottom: 1px solid gray;
}
.fab{
  width: 20%;
  height: 16px;
}
.rani2{
  color: blue;
  font-size: 13px;
}

.fab2{
 width: auto;
 height: 16px;
 float:left;
}
.gip2{
  color: blue;
  font-size: 13px;
  width:50%;
  float:left;
}
.hta{
  font-size:13px;
  text-align: center;
  color:grey;
}
.jangat1{
  width: 100%;
  height: 360px;
  margin:17px 0;
}
.jaddu{
  width: auto;
  height: 15px;
  float:left;
}
.kalu{
  width: 100%;
  height: 100px;
  text-align: center;
}
.brand{
  padding: 10px;
  text-align: left;
  width: 210px;
  border-radius: 2px;
  background:#848688;
  margin-top: 15px;
}
.unav4{
  width: 100%;
  text-align: center;
}
.dazy0{
  width: 20%;
  height: 300px;
  float:left
}
.gonda{
  padding: 10px;
    text-align: center;
    width: 210px;
    border-radius: 2px;
    background:rgb(247,155,80);
    margin-top: 15px;
}
.mango{
  width: 10%;
  float:left;
}
table, tr,td{
  background-color:#EAEDED;
  color:black; 
  padding-left: 7px;
  padding-right: 7px;
}
td{
  width: 20%;
   height: 40px;
   border: 1px solid silver;
}
table{
  width: 100%;
  height: 40px;
}
table,tr{
  height: 49px;
  
}
.mojo{
  width: 10%;
  float:left;
}
.date{
  color:gray;
  font-size:12px;
  float: left;
}
.majo{
  width: 10%;
  height: 20px;
  float:left;
}
.life{
  width: 15%;
  height:20px ;
  float:left;
}


.center1{
  border-top: 1px solid #3a4555;
  width: 100%;
  
}
.siya{
  height:40px;
  width: 50%;
  margin:0px auto;
}
.siy2{
  width: 50%;
  float:right;
  padding:10px;
}

.siy1{
  width: 50%;
  padding: 10px ;
  color: #ccc;
  text-align:right;
  float:left;
}
.flag{
  width: auto;
  height: 27px;
  padding: 2px 2px 2px 2px;
  color: #ccc;
  border-radius: 4px;
  text-align:center;
  float:left;
}
