*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color:#dadada;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  width:100%;
  height: 80px;
}
.uppersection{
  width: 100%;
  height:45px;
  background: #000;
}
.section1{
  float:left;
  width:300px;
  height:42px;
}
.section2{
  float:left;
  width:calc(100% - 700px);
  height:40px;
}
.section3{
  float:right;
  width:400px;
  height:42px;
}
.lowersection{
  width: 100%;
  height:40px;
  background: #232f3e;
}
.logo{
  align-items: center;
  vertical-align: middle;
  width: 75px;
}
.pink1 {
  float: left;
  width:50%;
  text-align: center;
}
.pink2{
  float:left;
  width: 50%;
}
.nav-logo{
  font-size: 13px;
}
.student1{
  float: left;
  width: 20%;
  margin:3px 0;
}
.student2{
  float:left;
  text-align: left;
  width: 80%;
  margin:2px 0;
}
.nav-left{
  float:left;
  width: 40px;
}
.all{
  background: #dadada;
  padding:8px 12px;
  margin:5px 0px;
  border-radius: 3px 0 0 3px;
  color:black;
}
.nav-right{
  float:left;
  width: calc(100% - 80px);
}
input{
  width:100%;
  border:none;
  padding: 10px;
  margin: 7px 0;

}
.dude{
  float: right;
  width: 40px;
}
button{
  background: rgb(247,155,80);
  height: 40px;
  width: 38px;
  margin:5px 0;
}
.cube{
  align-items: center;
  vertical-align: middle;
  width:18px;
}
.hope{
  align-items:center;
  vertical-align:left;
  width:20%;
  float:right;
  margin:9px 0;
  text-align: center;
}
.gopali{
  float:right;
  width:90%;
  justify-content: space-between;
}
.red{
  float:left;
  width: 18%;
}
.red1{
  float:left;
  width: 20%;
  margin:3px 0;
  text-align:center;
}
.red2{
  float:left;
  width:20%;
  margin:3px 0;
  text-align: center;
}
.red3{
  float:left;
  width:20%;
  text-align: center;
}
.pinky{
  float:left;
  font-size: 14px;
  width:70%
}
.green1{
  float:left;
  width:4%;
  text-align: center;
  margin:5px 0px;
}
.green2{
  float:left;
  width:11%;
  margin:5px 0px;
  text-align: center;
}
.green3{
  float:left;
  width:10%;
  margin:5px 0px;
  text-align: center;
}
.green4{
  float:left;
  width:12%;
  margin:5px 0px;
  text-align: center;
  
}
.green5{
  float:left;
  width:15%;
  margin:5px 0px;
  text-align: center;
  
}
.green6{
  float:left;
  width:11%;
  margin:5px 0px;
  text-align: center;
}
.green7{
  float:left;
  width:11%;
  margin:5px 0px;
  text-align: center;
}
.green8{
  float:left;
  width:10%;
  margin:5px 0px;
  text-align: center;
}
.green9{
  float:left;
  width:13%;
  margin:5px 0px;
  text-align: center;
}
.Rinky{
  float:right;
  font-size: 25%;
  width: 30%;
}
.gun{
  align-items: center;
  vertical-align: right;
  width:400px;
  float:right;
}
.line{
  align-items: center;
  width:10px;
  float:left;
  text-align: center;
}
