* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .top-header {
    height: 24px;
    border-bottom: 1px solid #f4f4f4;
  }
  
  .fwrapper {
    float: right;
  }
  
  .top-header a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    cursor: pointer;
    padding-right: 15px;
  }
  
  .top-header .dropdown-menu .dropdown-item-text {
    font-size: 11px;
  }
  
  .btn-group button {
    font-size: 11px;
    height: 24px;
    outline: none;
    border: none;
    padding-right: 15px;
  }
  
  .nav-link {
    color: black !important;
    font-size: 15px;
  }
  
  .middle {
    border-bottom: 1px solid #f4f4f4;
    height: 40px;
  }
  .footerNav .mailingList {
    margin-bottom: 44px;
    position: relative;
  }
  .mailingList {
    position: relative;
    margin-bottom: 0;
  }
  .footerNav .mailingList__formRow {
    display: inline-block;
    position: relative;
    width: 100%;
}
.footerNav .mailingList .inputWrapper {
    margin: 0 0 15px;
}

.inputWrapper {
    position: relative;
}
.inputWrapper--small .inputWrapper__label {
    font-size: .84615rem;
}
.inputWrapper__label {
    letter-spacing: .07692rem;
    color: #000;
    text-transform: uppercase;
    padding: 5px 12px;
    position: absolute;
    top: 0;
    left: 0;
}
.inputWrapper--small input[type=email]{
    font-size: 1rem;
    padding-top: 22px;
    font-family: "ProximaNova","Arial",sans-serif;
}
.inputWrapper input,input[type=email]{
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 5px 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
}
.mailingList__submit {
    position: absolute;
    padding: 9px 6px;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    height:27px;
    width: 27px;
}
.footerNav .mailingList__formRow {
    display: inline-block;
    position: relative;
    width: 100%;
}
.mailingList .checkboxWrapper {
    vertical-align: top;
}
.checkboxWrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.checkboxWrapper input[type=checkbox] {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=checkbox] {
    width: 13px;
    height: 13px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}
.mailingList__optIn {
    float: left;
}
.checkboxWrapper__checkmark {
    width: 16px;
    height: 16px;
    margin: 2px 5px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.mailingList__disclaimer {
    display: inline-block;
    width: calc(100% - 30px);
    font-size: 11px;
    line-height: 16px;
    color: #000;
    text-transform: none;
    text-align: left;
    margin-left: 5px;
}
.footerSocial__header:nth-of-type(2) {
    font-family: 'ProximaNovaLight';
}
.footerSocial__header {
    font-weight: normal;
    color: inherit;
    text-rendering: optimizelegibility;
    font-size: 1.07692rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: .5px;
    font-family: 'ProximaNovaBold';
}
  .middle-header {
    float: left;
  }
  
  .nav-item .smallsimg img {
    max-height: 100%;
    width: 25px;
  }
  
  .nav-item img {
    width: 300px;
    max-height: 100%;
  }
  
  .third-header {
    width: 100%;
    background-color: #f0efeb;
    font-size: 13px !important;
    padding: 0!important;
    margin: 0!important;
  }
  
  .third-header h3 {
    font-size: 14px !important;
  }
  
  .image {
    height: 70px !important;
    text-align: center;
  }
  
  .fit img,
  .customize img,
  .measure img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
  
  .heading {
    font-weight: 600;
  }
  
  .hero-banner {
    height: auto;
    background-color: #021528;
  }
  
  .hero-image img {
    
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  
  .hero-image {
    padding-right: 80px !important;
  }
  
  .hero-banner-content {
    color: #ffffff;
  }
  
  .into-heading {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.43px;
    text-transform: uppercase;
    margin-bottom: 12px;
  
    padding-top: 30px !important;
  }
  
  .hero-banner-content h1 {
    font-family: "PT Serif", serif;
    
  }
  
  .coupon {
    font-size: 18px;
    font-family: "ProximaNova", "Arial", sans-serif;
  }
  
  .description {
    font-size: 16px;
    line-height: 22px;
    margin-top: 12px;
    margin-bottom: 25px!important;
  }
  
  .button {
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    padding: 15px 45px;
    font-weight: 600;
    margin-top: 20px!important;
  }
  
  .popular-content{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1220px;
  }
  
  .heading{
    padding-bottom: 10px;
  }
  
  .heading h2{
    text-align: center;
    font-weight: bold;
    font-size: 19px!important;
    letter-spacing:1px;
    text-transform: uppercase;
    font-family: "ProximaNovaSemiBold", "Arial", sans-serif;
    color:#4d4d4d;
  }
  
  .popular-suit img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    border: 1px solid rgb(202, 202, 202);
  }
  
  .suit-image{
    background-size: cover;
    border: 1px solid rgb(202, 202, 202);
    background-position: center;
  }
  
  .first{
    background-image: url("image/first-suit.jpg");
  }
  
  .second{
    background-image: url("image/second-suit.jpg");
  }
  
  .third{
    background-image: url("image/third-suit.jpg");
  }
  
  .fourth{
    background-image: url("image/fourth-suit.jpg");
  }
  
  
  
  
  
  .popular-name , .price{
    font-family: "ProximaNovaSemiBold", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left !important;
  }
  
  .buy, .buy-button{
    padding-top: 10px;
  }
  
  
  
  .buy-button button{
    width: 90%;
    border: none;
    outline: none;
    height: 35px;
    font-weight: bold;
    text-align: center;
  }
  
  .wardrobe{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1220px;
    background-color: #F0EFEB;
  }
  
  .wardrobe-image{
    padding: 0px!important;
  }
  
  .wardrobe-image img{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
  }
  
  .wardrobe-content h2{
  
    font-family: "PT Serif",serif;
    color:#000;
  }
  
  .appointment{
    background-color: black;
    letter-spacing: 1px;
    font-size: 16px;
    max-width: 240px;
    color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    padding: 13px 15px;
    outline: none;
    font-weight: 600;
  }
  
  .wardrobe-content p{
    font-size: 14px;
  }
  
  footer{
    max-width: 1180px!important;
    margin-top: 100px!important;
    margin-bottom: 60px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    padding: 0!important;
  }
  
  
  
  .footer-nav-header{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #2c2c2c;
    letter-spacing: .5px;
    font-family: 'ProximaNovaBold';
    font-weight: bold;
    
  }
  
  
  .footer-list{
    list-style: none;
    padding: 0px!important;
   
  }
  
  .footer-item{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  
  .footer-item a{
    text-decoration: none;
    color: #000;
  }
  
  .footer-item a:hover{
    color: black;
    text-decoration: underline;
  }
  
  
  /*MEDIA QUERIES*/
  
  @media screen and (min-width: 1200px) {
    .main-heading{ font-size: 52px;}
    .coupon{font-size: 18px; }
    .hero-banner-content{padding-top: 48px!important; padding-right: 10px!important;}
    .hero-image{padding-left: 5px!important;}
    .hero-banner{padding-top: 60px!important; padding-bottom: 60px!important;}
    .popular-suit{padding: 15px 30px !important;}
    .suit-image{height: 400px;}
    .popular-name{padding-top: 20px; font-size: 13px;}
    .wardrobe-content h2{ font-size: 40px; line-height: 48px;}
    .wardrobe-content{padding-top: 14%!important; padding-left: 80px!important; padding-right: 50px!important;}
    .right-item{padding-left: 30px!important;}
    .sale{padding-right: 3rem;}
  }
    
  
  @media screen and (min-width: 1025px) and (max-width: 1199px) {
    .main-heading{font-size: 42px;}
    .coupon{font-size: 16px;}
    .hero-banner-content{padding-top: 48px!important;}
    .hero-image{padding-left: 40px!important; padding-right: 45px!important;}
    .hero-banner{padding-top: 60px!important; padding-bottom: 60px!important;}
    .popular-suit{padding: 15px 30px !important;}
    .suit-image{height: 400px;}
    .popular-name{padding-top: 20px; font-size: 13px;}
    .wardrobe-image{padding: 40px 35px!important;}
    .wardrobe-content h2{ font-size: 32px; line-height: 48px;}
    .wardrobe-content{padding-top: 14%!important; padding-left: 50px!important; padding-right: 50px!important;}
    .right-item{padding-left: 30px!important;}
    .sale{padding-right: 3rem;}
  }
  
  @media screen and (min-width: 992px) and (max-width: 1024px){
    .main-heading{font-size: 42px;}
    .hero-banner-content{text-align: left; padding-top: 0px!important; padding-right: 20%!important; transition: 0.2s;}
    .hero-image{padding-left: 40px!important; padding-right: 45px!important;}
    .into-heading{padding-top: 0px!important;}
    .hero-banner{padding-top: 30px!important; padding-bottom: 30px!important;}
    .popular-suit{padding: 15px 30px !important;}
    .suit-image{height: 400px;}
    .popular-name{padding-top: 20px; font-size: 13px;}
    .wardrobe-image{padding: 40px 35px!important;}
    .wardrobe-content h2{ font-size: 32px; line-height: 48px;}
    .wardrobe-content{padding-top: 14%!important; padding-left: 80px!important; padding-right: 50px!important;}
    .right-item{padding-left: 30px!important;}
    .sale{padding-right: 3rem;}
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px){
    .main-heading{font-size: 42px;}
    .hero-image{padding-left: 40px!important; padding-right: 45px!important;}
    .hero-banner-content{text-align: left; padding-top: 0px!important; padding-right: 20%!important; transition: 0.2s;}
    .into-heading{padding-top: 0px!important;}
    .hero-banner{padding-top: 30px!important; padding-bottom: 30px!important;}
    .popular-suit{padding: 15px !important;}
    .suit-image{height: 400px;}
    .popular-name{padding-top: 20px; font-size: 13px;}
    .description{font-size: 13px!important;}
    .wardrobe-image{padding: 40px 35px!important;}
    .wardrobe-content h2{ font-size: 32px; line-height: 48px;}
    .nav-link{padding: 2px!important; font-size: 11px!important;}
    .wardrobe-content{padding-top: 10%!important; padding-left: 40px!important; padding-right: 50px!important;}
    .right-item{padding-left: 0px!important;}
    .navbar-brand{margin-right: 2px!important; padding: 0px!important;}
    .middle_header{padding: 1px!important;}
    .sale{padding-right:5px!important;}
    .top-header a{font-size: 8px!important;}
    .btn-group button{font-size: 8px!important;}
    .navbar-brand img{width: 90px; max-height: auto;}
    .buy-button {padding-left: 10px !important;}
  }
  
  @media screen and (max-width: 767px){
    .hero-banner-content{text-align: center;}
    .hero-image{padding-right: 0px!important; min-width: 100% !important; }
    .hero-banner{padding: 0px!important;}
    .main-heading{font-size: 32px;}
    .coupon{font-size: 16px!important;}
    .description{padding: 0px 50px!important; font-size: 13px!important;}
    .button{padding: 15px 125px!important;}
    .terms{font-size: 12px!important;}
    .popular-suit{padding: 0px !important}
    .suit-image{height: 250px;}
    .popular-name{padding-top: 10px; font-size: 11px; font-weight: bolder!important;}
    .wardrobe-content h2{ font-size: 28px; line-height: 48px; padding-top: 20px!important;}
    .wardrobe{text-align: center;}
    .appointment{max-width: none; padding-left:60px!important ; padding-right: 60px!important;}
    .wardrobe-image{padding: 15px!important;}
    .footer-item{font-size: 11px; line-height: 15px; margin-bottom: 5px;}
    .nav-link{padding: 2px!important; font-size: 12px!important;}
  }

  

